.vscode
config/dev.json
data
docs
local
node_modules
src
!src/Server/webapp/build
templates
tmp
types
.dockerignore
.gitignore
.prettierignore
.prettierrc.json
Dockerfile
eslint.config.js
tsconfig.json
*.md
.git